profiles {
	local { 
	
	process.executor = "local" 
	
	docker.enabled = true 
	
	process.stageInMode = 'copy' 
	
	process.stageOutMode = 'copy' 

	workDir = "${System.env.HOME}/nf_work" 
	
	cleanup = true 
	
	process.resourceLimits = [ 
			memory: 4.GB, 
			cpus: 16, 
			time: 12.h
			] 

	docker.runOptions = "-u \$(id -u):\$(id -g) -v ${projectDir}/.homer_cache:/homer_cache"
	
	env.HOMER_DATA = "/homer_cache" 
	
	}

	hpc {
	process.executor = "slurm"
	docker.enabled = false
	singularity.enabled = true

	process.queue = 'short'
	process {
		memory = 16.GB
		cpus = 64
		time: 2.d
	}

	process.resourceLimits = [
		memory: 500.GB,
		cpus: 100,
		time: 7.d
	]

	params.homer_genome_install = false

	singularity.runOptions = "--bind /scratch/${System.env.USER}/homer_cache:/homer_cache"
	env.HOMER_DATA = "/homer_cache"
	}
}

process {
	withName: peak_calling_chip {
		errorStrategy = 'retry'
		maxRetries = 1
	}

	withName: peak_calling_atac {
                errorStrategy = 'retry'
                maxRetries = 1
        }
}

params {
	
	csv_file = "../assets/*.csv"
	genome = null
	genomes {
		hg38 {
			fa_url = "https://ftp.ensembl.org/pub/release-115/fasta/homo_sapiens/dna/Homo_sapiens.GRCh38.dna.primary_assembly.fa.gz"
			gtf_url = "https://ftp.ensembl.org/pub/grch37/current/gtf/homo_sapiens/Homo_sapiens.GRCh37.87.gtf.gz"
		}

		saccer3 {
			fa_url = "https://ftp.ensembl.org/pub/release-115/fasta/saccharomyces_cerevisiae/dna/Saccharomyces_cerevisiae.R64-1-1.dna.toplevel.fa.gz"
			gtf_url = "http://ftp.ensembl.org/pub/release-108/gtf/saccharomyces_cerevisiae/Saccharomyces_cerevisiae.R64-1-1.108.gtf.gz"
		}
		
		mm39 {
			fa_url = "https://ftp.ensembl.org/pub/release-115/fasta/mus_musculus/dna/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz"
			gtf_url = "https://ftp.ensembl.org/pub/release-115/gtf/mus_musculus/Mus_musculus.GRCm39.115.gtf.gz"
		}
		
		danrer11 {
			fa_url = "https://ftp.ensembl.org/pub/release-115/fasta/danio_rerio/dna/Danio_rerio.GRCz11.dna.primary_assembly.fa.gz"
			gtf_url = "https://ftp.ensembl.org/pub/release-115/gtf/danio_rerio/Danio_rerio.GRCz11.115.gtf.gz"
		}
		
		dm6 {
			fa_url = "https://ftp.ensembl.org/pub/release-115/fasta/drosophila_melanogaster/dna/Drosophila_melanogaster.BDGP6.54.dna.toplevel.fa.gz"
			gtf_url = "https://ftp.ensembl.org/pub/release-115/gtf/drosophila_melanogaster/Drosophila_melanogaster.BDGP6.54.115.gtf.gz"
		}
		
		mm10 {
                        fa_url = "https://ftp.ensembl.org/pub/release-102/fasta/mus_musculus/dna/Mus_musculus.GRCm38.dna.primary_assembly.fa.gz"
                        gtf_url = "https://ftp.ensembl.org/pub/release-102/gtf/mus_musculus/Mus_musculus.GRCm38.102.gtf.gz"
                }
		
		tair10 {
                        fa_url = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/fasta/arabidopsis_thaliana/dna/Arabidopsis_thaliana.TAIR10.dna.toplevel.fa.gz"
                        gff3_url = "https://ftp.ensemblgenomes.ebi.ac.uk/pub/plants/release-62/gff3/arabidopsis_thaliana/Arabidopsis_thaliana.TAIR10.62.gff3.gz"
                }
		
		hg19 {
			fa_url = "https://ftp.ensembl.org/pub/grch37/current/fasta/homo_sapiens/dna/Homo_sapiens.GRCh37.dna.primary_assembly.fa.gz"
			gtf_url = "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_19/gencode.v19.annotation.gtf.gz"	
		} 

		ce11 {
			fa_url = "https://ftp.ensembl.org/pub/release-115/fasta/caenorhabditis_elegans/dna/Caenorhabditis_elegans.WBcel235.dna.toplevel.fa.gz"
			gtf_url = "https://ftp.ensembl.org/pub/release-115/gtf/caenorhabditis_elegans/Caenorhabditis_elegans.WBcel235.115.gtf.gz"
		}
	}

		
	fa = null
	gtf = null
	gff3 = null
	is_url = false
	skip_qc_multiqc = null
	blacklist = null	
	bowtie2_args = null	
	style = "narrow"
	rna_aligner = "star"
	checkGC = true
	extsize = 200
	genome_size = null
	fastp_args = null
	sjdbOverhang = 100
	bowtie2_sensitivity = "sensitive"
	atac_blacklist = true
	chip_blacklist = true
	rna_blacklist = false
	atac_mapq = 30
	chip_mapq = 30
	rna_mapq = 10
	atac_rmdup = true
	chip_rmdup = true
	rna_rmdup = false

}


